/* body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
} */

.register-container {
  max-width: 300px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* 
h2 {
  text-align: center;
  color: #333;
} */

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

p {
  text-align: center;
  margin-top: 20px;
}

a {
  color: #007bff;
  text-decoration: none;
}

/* estilos de mensaje de errores */

.message {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  text-align: center;
}

.message.error {
  background-color: #ffebee;
  color: #c62828;
  border: 1px solid #ef9a9a;
}

.message.success {
  background-color: #e8f5e9;
  color: #2e7d32;
  border: 1px solid #a5d6a7;
}

/* login */

.login-container {
  max-width: 300px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* ... otros estilos que ya tengas ... */
.dashboard {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.dashboard button {
  margin-right: 10px;
  margin-top: 10px;
}

.change-password {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.change-password input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

.change-password button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.change-password button:hover {
  background-color: #0056b3;
}

.success {
  color: green;
}

.error {
  color: red;
}

body {
  margin: 0;
  /*padding-bottom: 0px;  Ajusta este valor según la altura de tu barra de navegación */
}

.App {
  min-height: 100vh;
  position: relative;
}
