.crypto-detail {
  background-color: #1e222d;
  color: #ffffff;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.back-arrow {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  font-size: 24px;
  z-index: 10;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

h1 {
  font-size: 1.3em;
  margin: 0;
  padding: 0px 0px 0px 40px;
}

.crypto-info {
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 40px;
  color: #ffff;
}

/* .current-price {
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 10px;
  color: #00c853;
} */

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.chart-container {
  flex-grow: 1;
  background-color: #2a2e39;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.time-range-buttons {
  display: flex;
}

.time-range-buttons button {
  background-color: #3a3f50;
  border: none;
  color: #ffffff;
  padding: 5px 10px;
  margin: 2px;
  border-radius: 3px;
  cursor: pointer;
}

.time-range-buttons button.active {
  background-color: #4a5368;
}

.trade-section {
  position: relative;
  background-color: #2a2e39;
  padding: 0px 10px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.title-orders {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #ccc;
}

.simulated-orders {
  flex-grow: 1;
  overflow-y: auto;
}

.simulated-orders table {
  width: 100%;
  border-collapse: collapse;
}

.simulated-orders th,
.simulated-orders td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #3a3f50;
}

.orders-position tr {
  display: flex;
  justify-content: space-evenly;
}

.trade-buttons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  top: 150px;
  left: 0;
  width: 100%;
}

.buy-button,
.sell-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  width: 48%;
}

.buy-button {
  background-color: #00c853;
}

.sell-button {
  background-color: #ff3d00;
}

.loading,
.error-message,
.warning-message {
  text-align: center;
  padding: 20px;
}

.error-message {
  color: #ff3d00;
}

.warning-message {
  color: #ffc107;
}

.positive {
  color: #00c853;
}

.negative {
  color: #ff3d00;
}

.custom-tooltip {
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.custom-tooltip p {
  margin: 0;
  padding: 3px 0;
}
